<div class="col-sm-4 col-sm-offset-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
    <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
      <button aria-label="Close" data-dismiss="alert" class="close" type="button">
        <span aria-hidden="true">
          ×
        </span>
      </button>
      <p>
        <%= devise_error_messages! %>
      </p>
    </div>
    <h2 class="form-signin-heading">Please edit <%= resource_name.to_s.humanize %></h2>
      <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %> 

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation  ", class: "form-control" %>

      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Password confirmation  ", class: "form-control" %>
      
      <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
      
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-warning btn-block" %></p>

  <%= link_to "Back", :back %>
  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
</div>    