<div class="col-sm-4 col-sm-offset-4">
  <%= form_for(resource, html: { class: "form-signin" }, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
      <button aria-label="Close" data-dismiss="alert" class="close" type="button">
        <span aria-hidden="true">
          ×
        </span>
      </button>
      <p>
        <%= devise_error_messages! %>
      </p>
    </div>
    <h2 class="form-signin-heading">Please sign up</h2>
      <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>
      
      <%= f.label :password %>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %> 
      <% end %>

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation  ", class: "form-control" %>
      
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
      
  <% end %>

  <%= render "devise/shared/links" %>
</div>
