<div class="col-sm-12">
  <%= form_for(@article, html: { class: "form-horizontal" }) do |f| %>
    <% if @article.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <p>
          <h3><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
        </p>
        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :title, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :title, autocomplete: "off", placeholder: "Title", class: "form-control" %>
      </div>  
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :body, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :body, autocomplete: "off", placeholder: "Body", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label "Attach a file", class: "control-label" %>
      </div>
      <div class="col-sm-5" style="padding-left:0">
        <div class="col-sm-12">
          <div class="thumbnail" style="overflow:hidden;">
            <div id="target">
              <%= image_tag @article.cover.url( :thumb ), class: "img-responsive" %>
            </div>
            <br>
            <%= f.file_field :cover, class: "cover" %>
          </div>
        </div>
      </div>
      <div class="col-sm-5" style="padding-left:0">
        <%= f.label "Categories", class: "control-label" %>
        <div class="thumbnail">
          <% @categories.each do |category| -%>
            <div>
              <%= check_box_tag :category_ids, category.id, @article.categories.include?(category), :name => 'article[category_ids][]' -%>
              <%= label_tag :category_ids, category.name -%>
            </div>
          <% end -%>
        </div>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Article &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>
    