<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>

<h1 class="page-header">Listing Articles</h1>

<h2><%= link_to 'New Article', new_article_path, class: "btn btn-success" %></h2>
<%= will_paginate @articles %>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">Cover</th>
      <th class="col-sm-2">Title</th>
      <th class="col-sm-4">Body</th>
      <th class="col-sm-1 text-center">(Un)Publish</th>
      <th class="col-sm-1 text-center">Show</th>
      <th class="col-sm-1 text-center">Edit</th>
      <th class="col-sm-1 text-center">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%=link_to( image_tag( article.cover.url( :thumb ), style: "max-width:150px" ), see_article_cover_path(article), :data => { :colorbox => true, :colorbox_height => '100%', :colorbox_width => '100%', :colorbox_iframe => true }) %></td>
        <td><%= article.title %></td>
        <td><%= article.body.truncate(100) %></td>
        <td>
          <% if article.may_unpublish? %>
            <p class="text-center"><%=link_to(  "<span class=\"glyphicon glyphicon-eye-close\"></span>".html_safe , unpublish_article_path(article) ) %></p>
          <% else %>
            <p class="text-center"><%=link_to(  "<span class=\"glyphicon glyphicon-eye-open\"></span>".html_safe , publish_article_path(article) ) %></p>
          <% end %>
        </td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, article %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_article_path(article) %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, article, id: article.id, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>  
    <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>

