<div class="col-sm-12">
  <%= form_for(@param, html: { class: "form-horizontal" }) do |f| %>
    <% if @param.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <p>
          <h3><%= pluralize(@param.errors.count, "error") %> prohibited this param from being saved:</h3>
        </p>
        <ul>
          <% @param.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %> 
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :key, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :key, autocomplete: "off", placeholder: "Key", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :value, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :value, autocomplete: "off", placeholder: "Value", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :description, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :description, autocomplete: "off", placeholder: "Description", class: "form-control" %>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Param &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>
