	<h1 class="page-header">Editing Param</h1>

	<%= render 'form' %>

	<%= link_to '<span class="glyphicon glyphicon glyphicon-sunglasses"></span>&nbsp;Show'.html_safe, @param, class: "btn btn-info" %>
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, params_path, class: "btn btn-danger" %>
	</div>
</div>