<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>
<h1 class="page-header">Listing Params</h1>

<h2><%= link_to 'New Article', new_param_path, class: "btn btn-success" %></h2>
<%= will_paginate @articles %>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">Key</th>
      <th class="col-sm-2">Value</th>
      <th class="col-sm-2">Description</th>
      <th class="col-sm-1 text-center">Show</th>
      <th class="col-sm-1 text-center">Edit</th>
      <th class="col-sm-1 text-center">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @params.each do |param| %>
      <tr>
        <td><%= param.key %></td>
        <td><%= param.value %></td>
        <td><%= param.description %></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, param %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_param_path(param) %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, param, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>