<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-success alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>
<h1 class="page-header">Show param</h1>
<div class="dl-horizontal">
  <dl>
    <dt>Key:</dt>
    <dd><%= @param.key %></dd>
    <dt>Value:</dt>
    <dd><%= @param.value %></dd>
    <dt>Description:</dt>
    <dd><%= @param.description %></dd>
  </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to '<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit'.html_safe, edit_param_path(@param), class: "btn btn-warning" %> 
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, params_path, class: "btn btn-danger" %>
</div>