        </div>
        <div class="col-xs-7 col-sm-2 col-md-2 sidebar sidebar-right sidebar-animate">
          <ul class="nav nav-pills nav-stacked">
            
            <div class="placeholder">
              <h4 class="text-center">User:</h4>
              <p class="text-center"><span class="text-muted"><%= current_user.author.fullname %></span></p>
            </div>
            <hr>
            <li class="<%= 'active' if params[:controller] == 'params' %>"><%= link_to "Settings", "/params" %></li>
            
            <li class="<%= 'active' if (params[:controller] == 'authors' && params[:action] == 'edit') %>">
              <%= link_to "Edit My Profile" , edit_author_path(current_user.author.id), alt: current_user.email, title: current_user.email %>
            </li>
            <li class="divider" role="separator"></li>
            <li class="<%= 'active' if (params[:controller] == 'users/registrations' && params[:action] == 'edit') %>">
            <%= link_to "Change Password" , edit_user_registration_path, alt: "Change Password", title: "Change Password" %>
            </li>
            <li><%= link_to "Exit", destroy_user_session_path, method: :delete, id: "exit", data: { confirm: 'Are you sure?' } %></li>
          </ul>
          </ul>
        </div>
      </div>
    </div>