<!-- Fixed navbar -->
    <div class="navbar navbar-static navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">20puntos.com</a>
        </div>
        <button type="button" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right">
          <span class="glyphicon glyphicon-user white" aria-hidden="true"></span>
        </button>
        <!-- <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form> -->
      </div>

    </div>

    <!-- Begin page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7 col-sm-2 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
        <div class="placeholder">
            <p class="text-center"><%=link_to( image_tag( current_user.author.avatar.url( :thumb ), class: "img-circle", style: "width: 140px; height: 140px;" ), see_author_avatar_path(current_user.author), :data => { :colorbox => true, :colorbox_height => '100%', :colorbox_width => '100%', :colorbox_iframe => true }) %></p>
            <h4 class="text-center">Signed in as:</h4>
          <p class="text-center"><span class="text-muted"><%= current_user.author.fullname %></span></p>
        </div>

          <% if @newcontacts > 0 %>
          <%= link_to "New Contacts Received&nbsp;&nbsp;&nbsp;<span class=\"label label-danger\"> #{@newcontacts} </span>".html_safe, "/contacts" %>
          <% end %>
          <hr>
          <ul class="nav nav-pills nav-stacked">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Backend", root_path %></li>
            <li class="<%= 'active' if params[:controller] == 'articles' %>"><%= link_to "Articles", "/articles" %></li>
            <li class="<%= 'active' if params[:controller] == 'categories' %>"><%= link_to "Categories", "/categories" %></li>
            <li class="<%= 'active' if params[:controller] == 'authors' %>"><%= link_to "Authors", "/authors" %></li>
            <li class="<%= 'active' if params[:controller] == 'images' %>"><%= link_to "Images", "/images" %></li>
            <li class="<%= 'active' if params[:controller] == 'emails' %>"><%= link_to "Emails", "/emails" %></li>
          </ul>
        </div>
        <div class="main col-md-10 col-md-offset-2">