<div class="col-sm-12">  
  <%= form_for(@author, html: { class: "form-horizontal" }) do |f| %>
    <% if @author.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <p>
          <h3><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h3>
        </p>
        <ul>
          <% @author.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h3><%= @author.user.email %></h3>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label "Avatar", class: "control-label" %>
      </div>
      <div class="col-sm-4" style="padding-left:0">
        <div class="col-sm-12">
          <div class="thumbnail" style="overflow:hidden;">
            <div id="target">
              <%= image_tag @author.avatar.url( :thumb ), class: "img-responsive" %>
            </div>
            <br>
            <%= f.file_field :avatar, class: "avatar" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :fullname, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :fullname, autocomplete: "off", placeholder: "Full name", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :twitter, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :twitter, autocomplete: "off", placeholder: "Twitter account", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :facebook, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :facebook, autocomplete: "off", placeholder: "Facebook account", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :website, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :website, autocomplete: "off", placeholder: "Website", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :resume, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :resume, autocomplete: "off", placeholder: "Resume", class: "form-control" %>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Author &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>
