	<% unless current_user.author.id == @author.id %>
		
		<h1 class="page-header">Editing Author</h1>
		
		<% else %>
		
		<h1 class="page-header">Editing My Profile</h1>	

	<% end %>


	<%= render 'form' %>

	<%= link_to '<span class="glyphicon glyphicon glyphicon-sunglasses"></span>&nbsp;Show'.html_safe, @author, class: "btn btn-info" %>

		<% unless current_user.author.id == @author.id %>

			<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, authors_path, class: "btn btn-danger" %>
			
		<% end %>
	</div>
</div>