<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>

<h1 class="page-header">Listing Authors</h1>
<%= will_paginate @articles %>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">Avatar</th>
      <th class="col-sm-2">Fullname</th>
      <th class="col-sm-2">Twitter</th>
      <th class="col-sm-4">User</th>
      <th class="col-sm-1 text-center">Show</th>
      <th class="col-sm-1 text-center">Edit</th>          
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><div class="thumbnail" style="overflow:hidden;"><%=link_to( image_tag( author.avatar.url( :thumb ), style: "max-width:150px" ), see_author_avatar_path(author), :data => { :colorbox => true, :colorbox_height => '100%', :colorbox_width => '100%', :colorbox_iframe => true }) %></div></td>
        <td><%= author.fullname %></td>
        <td><%= author.twitter %></td>
        <td><%= author.user.email %></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, author %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_author_path(author) %></p></td>
        <!-- <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>