<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-success alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>
<h1 class="page-header"><%= @author.user.email %></h1>
<div class="col-sm-12">
  <div class="col-sm-4" style="padding-left:0">
    <div class="col-sm-12">
      <div class="thumbnail" style="overflow:hidden;">
        <div id="target">
          <%= image_tag @author.avatar.url( :thumb ), class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="dl-horizontal">
      <dl>
        <dt>Full name:</dt>
        <dd><%= @author.fullname %></dd>
        <dt>Twitter:</dt>
        <dd><%= @author.twitter %></dd>
        <dt>Facebook:</dt>
        <dd><%= @author.facebook %></dd>
        <dt>Website:</dt>
        <dd><%= @author.website %></dd>
        <dt>Resume:</dt>
        <dd><%= @author.resume %></dd>
        <dt>User:</dt>
        <dd><%= @author.user.email %></dd>
      </dl>
    </div> 
  </div>
</div>
  
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to '<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit'.html_safe, edit_author_path(@author), class: "btn btn-warning" %>

  <% unless current_user.author.id == @author.id %>
    <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, authors_path, class: "btn btn-danger" %>
  <% end %>
</div>