<div class="col-sm-4 col-sm-offset-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
    <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
      <button aria-label="Close" data-dismiss="alert" class="close" type="button">
        <span aria-hidden="true">
          ×
        </span>
      </button>
      <p>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      </p>
    </div>
    <h2 class="form-signin-heading">Change your password</h2>

      <%= f.label :password, "New password" %>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Password", class: "form-control" %>

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation  ", class: "form-control" %>

      <%= f.submit "Change my password", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>