<div class="col-sm-4 col-sm-offset-4">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>		
	    <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
			<button aria-label="Close" data-dismiss="alert" class="close" type="button">
				<span aria-hidden="true">
					×
				</span>
			</button>
			<p>
	        	<%= devise_error_messages! %>
	      	</p>
	    </div>
	    <h2 class="form-signin-heading">Forgot your password?</h2>
	    <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>

	    <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block" %>
	      
  <% end %>

  <%= render "devise/shared/links" %>
</div>
