<div class="col-sm-12">
  <%= form_for(@contact, html: { class: "form-horizontal" }) do |f| %>
    <% if @contact.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <p>
          <h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
        </p>
        <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :email, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :email, autocomplete: "off", placeholder: "E-mail", class: "form-control" %>
      </div>  
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :fullname, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :fullname, autocomplete: "off", placeholder: "Full Name", class: "form-control" %>
      </div>  
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :body, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :body, autocomplete: "off", placeholder: "Body", class: "form-control" %>
      </div>
    </div>
        <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :state, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :state, autocomplete: "off", placeholder: "State", class: "form-control" %>
      </div>  
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Contact &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>
