<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>
<h1 class="page-header">Listing Contacts</h1>
<%= will_paginate @articles %>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">Email</th>
      <th class="col-sm-2">Fullname</th>
      <th class="col-sm-4">Body</th>
      <th class="col-sm-2">State</th>
      <th class="col-sm-1 text-center">Show</th>
      <th class="col-sm-1 text-center">Unread</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
        <td><%= contact.fullname.split.map(&:capitalize).join(' ') %></td>
        <td><%= contact.body.truncate( 100 ) %></td>
        <td><%= contact.state %></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, contact %>
        <td>
        <% if contact.may_unread? %>
          <p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon glyphicon-eye-close\"></span>".html_safe, unread_path(contact) %></p>
        <% else %>
          &nbsp;
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>