<% if notice %>
	<div role="alert" class="col-sm-12 alert alert-success alert-dismissible fade in">
		<button aria-label="Close" data-dismiss="alert" class="close" type="button">
			<span aria-hidden="true">
				×
			</span>
		</button>
		<p>
			<%= notice %>
		</p>
	</div>
<% end -%>
<h1 class="page-header"><%= @contact.email %></h1>
<p><%= @contact.email %></p>

<p><%= @contact.fullname %></p>

<p><%= @contact.body %></p>

<p><%= @contact.state %></p>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to '<span class="glyphicon glyphicon glyphicon-eye-close"></span>&nbsp;Mark as Unread'.html_safe, unread_path(@contact), class: "btn btn-warning" %>
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, contacts_path, class: "btn btn-danger" %>
</div>

