<h1>Hola Administrador</h1>

<p>
  Tienes un nuevo mensaje de correo, leelo y contesta
</p>
<hr style="border: thin #444 dashed">
<p>
	From: <%= @contact.fullname.split.map(&:capitalize).join(' ') %> - <%= @contact.email %>
</p>
<p>
	Body: <%= @contact.body.truncate(30) %>
</p>

<hr style="border: thin #444 dashed">
<p>
	Para leer el mensaje completo haz click <%= link_to "aquí", @contact %>
</p>
