<div class="col-sm-4 col-sm-offset-4">
  <% if alert %>
    <div role="alert" class="col-sm-12 alert alert-info alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
      <p>
        <%= alert %>
      </p>
    </div>
    
  <% end %>
  <div class="bs-example bs-example-images">
    <div class="col-sm-6 col-sm-3 placeholder">
        <p class="text-center"><%= image_tag "logo20.png", class: "img-responsive" %></p>
    </div>
  </div>
  <%= form_for(resource, html: { class: "form-signin" }, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="form-signin-heading">Please sign in</h2>
      <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>

      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
    
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>  
        </div>
      <% end -%>
      <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
      
  <% end %>

  <%= render "devise/shared/links" %>
</div>
