<div class="col-sm-12">  
  <%= form_for(@category, html: { class: "form-horizontal" }) do |f| %>
    <% if @category.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <p>
          <h3><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
        </p>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :name, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :name, autocomplete: "off", placeholder: "Name", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :description, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :description, autocomplete: "off", placeholder: "Description", class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label "Attach a file", class: "control-label" %>
      </div>
      <div class="col-sm-5" style="padding-left:0">
        <div class="col-sm-12">
          <div class="thumbnail" style="overflow:hidden;">
            <div id="target">
              <%= image_tag @category.cover.url( :thumb ), class: "img-responsive" %>
            </div>
            <br>
            <%= f.file_field :cover, class: "cover" %>
          </div>
        </div>
      </div>
      <div class="col-sm-5" style="padding-left:0">
        <%= f.label :color, class: "control-label" %>
        <div class="input-group color">
          <%= f.text_field :color, autocomplete: "off", placeholder: "Color", class: "form-control", readonly: "on" %>
          <span class="input-group-addon"><i></i></span>
        </div>
      </div>
      <div class="col-sm-1" style="padding-left:0">
          <%= f.label :icon, class: "control-label" %>
          <%= f.text_field :icon, autocomplete: "off", placeholder: "Icon", class: "form-control" %>
      </div>

    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Category &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>

