	<h1 class="page-header">Editing Category</h1>
	<%= render 'form' %>
	<%= link_to '<span class="glyphicon glyphicon glyphicon-sunglasses"></span>&nbsp;Show'.html_safe, @category, class: "btn btn-info" %>
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, categories_path, class: "btn btn-danger" %>
	</div>
</div>
