<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>

<h1 class="page-header">Listing Categories</h1>
<%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
<%= will_paginate @articles %>
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-2">Cover</th>
        <th class="col-sm-2">Name</th>
        <th class="col-sm-3">Description</th>
        <th class="col-sm-1 text-center">Icon</th>
        <th class="col-sm-1">Color</th>
        <th class="col-sm-1 text-center">Show</th>
        <th class="col-sm-1 text-center">Edit</th>
        <th class="col-sm-1 text-center">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%=link_to( image_tag( category.cover.url( :thumb ), style: "max-width:150px" ), see_category_cover_path(category), :data => { :colorbox => true, :colorbox_height => '100%', :colorbox_width => '100%', :colorbox_iframe => true }) %></td>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td><p class="text-center"><%= category.icon %></p></td>
          <td><div style="width:20px;height:20px;background-color:<%= category.color %>"></div></td>
          <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, category %></p></td>
          <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_category_path(category) %></p></td>
          <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, category, id: category.id, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<%= will_paginate @articles %>