<% if notice %>
	<div role="alert" class="col-sm-12 alert alert-success alert-dismissible fade in">
		<button aria-label="Close" data-dismiss="alert" class="close" type="button">
			<span aria-hidden="true">
				×
			</span>
		</button>
		<p>
			<%= notice %>
		</p>
	</div>
<% end -%>
<h1 class="page-header"><%= @category.name %></h1>
<p><%= @category.description %></p>
<div class="col-sm-12">
	<div class="col-sm-5" style="padding-left:0">
	    <div class="col-sm-12">
	      <div class="thumbnail" style="overflow:hidden;">
	        <div id="target">
	        	<%= image_tag @category.cover.url( :thumb ), class: "img-responsive" %>
	        </div>
	      </div>
	    </div>
	</div>
	<div class="col-sm-7">
		<dl>
	      <dt>Color Category</dt>
	      <dd><div style="width:20px;height:20px;background-color:<%= @category.color %>"></div></dd>
	      <dt>Icon</dt>
	      <dd><%= @category.icon %></dd>
	    </dl>
	</div>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to '<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit'.html_safe, edit_category_path(@category), class: "btn btn-warning" %>
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, categories_path, class: "btn btn-danger" %>
</div>

