<div class="col-sm-12">
  <%= form_for(@email, html: { class: "form-horizontal" }) do |f| %>
    <% if @email.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
          <button aria-label="Close" data-dismiss="alert" class="close" type="button">
            <span aria-hidden="true">
              ×
            </span>
          </button>
          <p>
            <h3><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h3>
          </p>
          <ul>
            <% @email.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :email, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.email_field :email, autocomplete: "off", placeholder: "Email", class: "form-control" %>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Email &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>