<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>
<h1 class="page-header">Listing Emails</h1>
<%= link_to 'New Email', new_email_path, class: "btn btn-success" %>
<%= will_paginate @emails %>
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-6">Email</th>
        <th class="col-sm-3">State</th>
        <th class="col-sm-1 text-center">Show</th>
        <th class="col-sm-1 text-center">Edit</th>
        <th class="col-sm-1 text-center">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @emails.each do |email| %>
        <tr>
          <td><%= email.email %></td>
          <td><%= email.state %></td>
          <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, email %></p></td>
          <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_email_path(email) %></p></td>
          <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, email, id: email.id, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<%= will_paginate @emails %>