	<h1 class="page-header">New Email</h1>
  	<%= render 'form' %>
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, emails_path, class: "btn btn-danger" %>
	</div>
</div>
