<% if notice %>
	<div role="alert" class="col-sm-12 alert alert-success alert-dismissible fade in">
		<button aria-label="Close" data-dismiss="alert" class="close" type="button">
			<span aria-hidden="true">
				×
			</span>
		</button>
		<p>
			<%= notice %>
		</p>
	</div>
<% end -%>
<h1 class="page-header"><%= @email.email %></h1>
<p><%= @email.email %></p>
<p><%= @email.state %></p>
<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to '<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit'.html_safe, edit_email_path(@email), class: "btn btn-warning" %>
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, emails_path, class: "btn btn-danger" %>
</div>
