<div class="col-sm-12">
  <%= form_for(@image, html: { class: "form-horizontal" }) do |f| %>
    <% if @image.errors.any? %>
      <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <p>
          <h3><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h3>
        </p>
        <ul>
          <% @image.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :title, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :title, autocomplete: "off", placeholder: "Title", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :description, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :description, autocomplete: "off", placeholder: "Description", class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label "Attach a file", class: "control-label" %>
      </div>
      <div class="col-sm-5" style="padding-left:0">
        <div class="col-sm-12">
          <div class="thumbnail" style="overflow:hidden;">
            <div id="target">
              <%= image_tag @image.image.url( :thumb ), class: "img-responsive" %>
            </div>
            <br>
            <%= f.file_field :image, class: "image" %>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= f.button "Save Image &nbsp;<span class=\"glyphicon glyphicon-floppy-disk\"></span>".html_safe, class: "btn btn-primary" %>
  <% end %>
