<% if notice %>
  <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <p>
      <%= notice %>
    </p>
  </div>
<% end -%>
<h1 class="page-header">Listing Images</h1>
<%= link_to 'New Image', new_image_path, class: "btn btn-success" %>
<%= will_paginate @articles %>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">Image</th>
      <th class="col-sm-3">Title</th>
      <th class="col-sm-4">Description</th>
      <th class="col-sm-1 text-center">Show</th>
      <th class="col-sm-1 text-center">Edit</th>
      <th class="col-sm-1 text-center">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%=link_to( image_tag( image.image.url( :thumb ), style: "max-width:150px" ), see_image_image_path(image), :data => { :colorbox => true, :colorbox_height => '100%', :colorbox_width => '100%', :colorbox_iframe => true }) %></td>
        <td><%= image.title %></td>
        <td><%= image.description.truncate(100) %></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, image %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_image_path(image) %></p></td>
        <td><p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, image, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>