<% if notice %>
	<div role="alert" class="col-sm-12 alert alert-success alert-dismissible fade in">
		<button aria-label="Close" data-dismiss="alert" class="close" type="button">
			<span aria-hidden="true">
				×
			</span>
		</button>
		<p>
			<%= notice %>
		</p>
	</div>
<% end -%>
<h1 class="page-header"><%= @image.title %></h1>
<p><%= @image.description %></p>
<div class="col-sm-12">	
	<p>
	<div class="col-sm-5" style="padding-left:0">
		<div class="col-sm-12">
		  <div class="thumbnail" style="overflow:hidden;">
		    <div id="target">
		      <%= image_tag @image.image.url( :thumb ), class: "img-responsive" %>
		    </div>
		  </div>
		</div>
	</div>
	</p>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to '<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit'.html_safe, edit_image_path(@image), class: "btn btn-warning" %> 
	<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, images_path, class: "btn btn-danger" %>
</div>