<!DOCTYPE html>
<html>
<head>
  <title>Vpr</title>
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>