<!DOCTYPE html>
<html>
<head>
  <title>Vpr</title>
  <%= stylesheet_link_tag    'seeimages', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
